*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  list-style: none;
  border: 0;
}

body {
  background-color: #f7f7f7;
}

#calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

#calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  color: #000;
  opacity: 0.7;
  background-color: transparent;
  border: 1px solid #888;
}

#calculator-grid > button:hover {
  opacity: 1;
  border-color: #000;
}

.span-two {
  grid-column: span 2;
}

#output {
  grid-column: 1 / -1;
  background-color: #fffb78;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  border: 1px solid #999;
  border-bottom: 0;
}

#output #previous-operand {
  color: #555;
  font-size: 1.5rem;
}

#output #current-operand {
  color: #000;
  font-size: 2.5rem;
}
